@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  background: rgb(246, 247, 248);
  padding: 32px;
}

header {
  margin: 8px 0;
  font-weight: 600;
}

@layer components {
  .btn,
  .input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
  }
}
